<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title noval - have a nice day
    body
        p Hello world!
        p= trans('message.error_404')
        p= request.error('q')
