doctype html
head
    meta(charset='utf-8')
    title 404 Page Not Found - The page you requested was not found
    link(rel='stylesheet' type='text/css' href='/assets/css/error.css')
body
    h1 OOPS!!!
    h4 Something went wrong here.
    h4
        a(href='/') Go back home
